@font-face {
    src: url(../fonts/bebasneue_bold.woff);
    font-family: 'BebasB'
}

@font-face {
    src: url(../fonts/bebasneue_regular.woff);
    font-family: 'BebasR'
}

@font-face {
    src: url(../fonts/open-sans-bold.ttf);
    font-family: 'OpensansB'
}

@font-face {
    src: url(../fonts/BebasNeueRegular.ttf);
    font-family: 'BebasN'
}

@font-face {
    src: url(../fonts/open-sans-semibold.ttf);
    font-family: 'OpensansSB'
}

@font-face {
    src: url(../fonts/open-sans.ttf);
    font-family: 'Opensans'
}

@font-face {
    src: url(../fonts/open-sans-italic.ttf);
    font-family: 'OpensansI'
}

html {
    font-size: 10px;
    font-family: "BebasR"
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.container {
    max-width: 117rem;
    margin: 0 auto
}

a {
    text-decoration: none
}

input:focus::-webkit-input-placeholder {
    color: transparent;
    border: 0
}

textarea:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus {
    border: 0;
    outline: 0
}

.title {
    text-align: center;
    color: #fff
}

.title h2 {
    font-size: 5.6rem;
    font-family: BebasN;
    margin-bottom: 1.5rem
}

.mainpage__title p,
.title p {
    font-family: OpensansSB;
    font-size: 16px
}

.mainpage {
    background-color: #c7a077;
    height: 100vh;
    min-height: 87.2rem
}

.mainpage__navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3rem 0;
    width: 100%
}

.mainpage__navbar div {
    font-size: 14px;
    font-family: Opensans
}

.mainpage__navbar div a {
    color: #fff;
    padding: 10px 14px;
    border: 1px solid transparent;
    outline: 0
}

.mainpage__navbar div a:hover {
    color: #fff;
    padding: 10px 14px;
    border: 1px solid #fff
}

.mainpage__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    margin-top: 20rem
}

.mainpage__arrow,
.mainpage__navbar div,
.mainpage__title,
.mainpage__title h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.mainpage__navbar i{
    color: #fff;
    font-size: 26px;
    display: none;
    cursor: pointer;
}
.mainpage__title h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 15rem;
    font-family: BebasN;
    font-size: 12.8rem
}

.mainpage__title h1 div {
    width: 17rem;
    height: 4px;
    background-color: #fff
}

.mainpage__arrow {
    font-size: 32px;
    border: 1px solid #fff;
    color: #fff;
    width: 38px;
    height: 38px;
    margin: 0 auto;
    margin-top: 18rem
}

.about {
    padding-top: 10rem;
    background-color: #31302f
}

.about__content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 430px 170px 430px;
    grid-template-rows: 156px 50px 156px 50px 156px 50px 50px;
    margin-top: 7rem;
    max-width: 1030px
}

.about__content--all {
    margin-top: 0;
    height: 0;
    overflow: hidden
}

.about__item {
    border: 1px solid #7f7e7e;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 29px;
    position: relative;
}

.about__item>p {
    font-size: 32px;
    color: #c59a6d;
    padding: 19px;
    border: 1px solid #7f7e7e;
    margin-right: 30px
}

.about__item div p:first-child {
    font-family: OpensansB;
    font-size: 18px;
    color: #c59a6d
}

.about__item div p:last-child {
    font-family: Opensans;
    font-size: 14px;
    line-height: 19.6px;
    color: #fff
}

.about__item--2 {
    grid-column-start: 3;
    grid-row-start: 3
}

.about__item--3 {
    grid-column-start: 1;
    grid-row-start: 5
}

.about__item--4 {
    grid-column-start: 3;
    grid-row-start: 1
}

.about__item--5 {
    grid-column-start: 1;
    grid-row-start: 3
}

.about__item--6 {
    grid-column-start: 3;
    grid-row-start: 5
}

.about__marker {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.about__marker div {
    height: 10px;
    width: 10px;
    background-color: #c59a6d;
    border: 2px solid #31302f
}

.about__marker p {
    position: absolute;
    font-family: OpensansB;
    font-size: 18px;
    color: #c59a6d;
    right: 25px
}

.about__marker--left p {
    right: 0;
    left: 25px
}

.about__marker--1,
.about__marker--2 {
    grid-column-start: 2;
    grid-row-start: 1
}

.about__marker--2 {
    grid-row-start: 3
}

.about__marker--3,
.about__years {
    grid-column-start: 2;
    grid-row-start: 5
}

.about__years {
    grid-row-start: 1;
    grid-row-end: 8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.about__years div {
    width: 2px;
    height: 590px;
    background-color: #464544
}
.about__item--year{
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    color: #c59a6d;
    font-family: Opensans;
}
.about__years--start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.about__years--start div {
    height: 490px
}

.about__button {
    margin: 0 auto;
    width: 170px;
    color: #fff;
    background-color: #c59a6d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: OpensansB;
    font-size: 14px;
    cursor: pointer;
    grid-row-start: 7;
    grid-column-start: 2;
}

.about__rectangle {
    width: 17rem;
    height: 1px;
    background-color: #464544;
    margin: 10rem auto;
    margin-bottom: 0
}

.team {
    background-color: #31302f;
    padding: 10rem 0;
}

.team__content,
.team__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.team__content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 55px;
    flex-wrap: wrap;
}

.team__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px
}

.team__item p {
    font-family: Opensans;
    font-size: 14px;
    color: #777;
    margin-bottom: 15px
}

.team__item p span {
    font-family: OpensansB;
    font-size: 16px;
    color: #c59a6d
}

.team__item div:last-child a {
    font-size: 12px;
    color: #777;
    margin: 0 4px
}

.team__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 9px;
    border: 1px solid #7f7e7e;
    max-width: 170px;
    margin-bottom: 25px
}

.team__img img,
.testimonials__slide div img {
    max-width: 150px
}

.works {
    background-color: #1b1a18;
    padding: 10rem 0;
    padding-bottom: 20rem
}

.works__slider {
    margin-top: 70px
}

.works__img {
    margin-bottom: 30px;
    padding: 14px;
    border: 1px solid #555;
    width: 370px;
}

.works__img img {
    max-width: 340px;
    height: auto
}

.works__slide {
    margin: 0 10px;
    outline: 0;
    display: flex !important;
    justify-content: center;
}
.works__slide--width{
    width: 370px;
}
.works__slide--width p {
    font-family: OpensansB;
    font-size: 18px;
    color: #c59a6d
}

.works__slide--width div:nth-child(3) {
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    margin: 10px 0
}

.works__slide--width p:last-child {
    font-family: Opensans;
    font-size: 14px;
    color: #ccc
}

.works button {
    top: auto;
    bottom: -110px;
    width: 54px;
    height: 54px;
    border: 1px solid #fff;
    background-position: center;
    background-repeat: no-repeat
}

.works button:first-child {
    left: 44%
}

.works button:nth-child(3) {
    right: 44%
}

.content__slider ul .slick-active,
.testimonials__slider ul .slick-active,
.works ul .slick-active {
    background-color: #c7a077;
    border: 1px solid #c7a077
}

.testimonials__slider ul li,
.works ul li {
    background-color: transparent;
    width: 8!important;
    height: 8!important;
    border: 1px solid #fff
}

.works ul {
    bottom: -120px
}

.services {
    background-color: #31302f;
    padding-top: 10rem
}

.services__content,
.services__item,
.services__item div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.services__content {
    margin-top: 70px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.services__item,
.services__item div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    width: 23%;
    min-width: 205px;
    margin-bottom:50px;
}
.services__content .services__item:last-child{
    margin-bottom: 0;
}

.services__item div {
    font-size: 56px;
    color: #c59a6d;
    width: 128px;
    height: 128px;
    border: 1px solid #7f7e7e
}

.services__item p {
    font-size: 16px;
    font-family: OpensansB;
    color: #c59a6d;
    margin: 25px 0
}

.services__item p:last-child {
    font-family: Opensans;
    font-size: 14px;
    margin: 0;
    color: #fff
}

.services__rectangle {
    width: 17rem;
    height: 1px;
    background-color: #464544;
    margin: 10rem auto;
    margin-bottom: 0
}

.prices {
    background-color: #31302f;
    padding: 10rem 0
}

.prices__content,
.prices__item,
.prices__item--hover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.prices__content {
    margin-top: 70px;
    height: 570px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;

}

.prices__item{
    width: 23%;
    min-width: 190px;
}
.prices__item--hover {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.prices__item--hover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 50px 0;
    min-width: 190px;
}

.prices__item--hover h4 {
    font-family: OpensansB;
    font-size: 72px;
    line-height: 70px
}

.prices__item--hover p {
    font-family: Opensans;
    font-size: 14px;
    margin: 5px 0
}

.prices__item--hover p:first-child {
    font-size: 18px;
    color: #c59a6d;
    margin: 0 0 5px
}

.prices__item--hover p:last-child {
    width: 170px;
    height: 32px;
    background-color: #c7a077;
    font-family: OpensansB;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 45px 0 0;
    cursor: pointer
}

.prices__item--hover p:nth-child(3) {
    font-size: 14px;
    font-family: OpensansB;
    margin: 0
}

.overlay div,
.prices__item--hover div {
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    margin: 30px 0
}

.prices__item--hover:hover {
    color: #fff;
    min-width: 110%;
    padding: 75px 0;
    background-color: #31302f;
    border: 1px solid #7f7e7e;
    z-index: 1;
}

.video {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 340px;
    width: 100%
}

.video__fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.overlay,
.overlay p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.overlay {
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4
}

.overlay div {
    width: 100px;
    height: 2px;
    margin: 12px 0
}

.overlay p {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-family: OpensansB;
    margin-top: 0
}

.testimonials {
    padding: 10rem 0;
    padding-bottom: 0;
    background-color: #31302f
}

.testimonials__slider {
    margin-top: 7rem
}

.testimonials__slider button {
    display: none!important
}

.testimonials__slider ul {
    bottom: -60px
}

.testimonials__slide {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    outline: 0
}

.testimonials__slide div {
    padding: 9px;
    border: 1px solid #7f7e7e
}

.testimonials__slide p {
    font-family: OpensansI;
    font-size: 16px;
    color: #fff;
    line-height: 22px;
    text-align: center;
    width: 780px;
    margin: 25px 0 20px
}

.testimonials__slide p:last-child {
    font-family: Opensans;
    font-size: 12px;
    color: #777;
    margin: 0
}

.testimonials__slide p:last-child span {
    font-family: OpensansB;
    font-size: 14px;
    color: #fff
}

.testimonials__rectangle {
    width: 17rem;
    height: 1px;
    background-color: #464544;
    margin: 18rem auto;
    margin-bottom: 0
}

.clients {
    padding: 10rem 0;
    background-color: #31302f
}

.clients__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 70px;
    flex-wrap: wrap;
}

.clients__img img {
    max-width: 150px;
    margin-bottom: 10px
}

.facts {
    background-color: #c69f70;
    padding: 10rem 0
}

.facts__content,
.facts__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.facts__content {
    margin-top: 65px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-wrap: wrap;
}

.facts__item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.facts__item i,
.find__item i {
    font-size: 48px;
    color: #fff;
    margin-right: 15px
}

.facts__item div {
    font-family: OpensansB;
    font-size: 56px;
    color: #fff;
    line-height: 43px
}

.facts__item div p {
    font-size: 16px;
    color: #333
}

.contact {
    padding: 10rem 0;
    background-color: #31302f
}

.contact__form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 7rem
}

.contact__form,
.contact__form div,
.find__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.contact__form div {
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.contact__form div input,
.contact__form textarea {
    border: 1px solid #7f7e7e;
    padding-left: 16px;
    background-color: transparent;
    font-size: 14px;
    font-family: Opensans;
    outline: 0;
    color: #fff
}

.contact__form div input {
    height: 46px;
    margin-bottom: 3rem;
    width: 32%
}

.contact__form textarea {
    width: 100%;
    padding-top: 15px
}

.contact__form button {
    margin-top: 75px;
    width: 220px;
    height: 48px;
    color: #fff;
    background-color: #c59a6d;
    border: 0;
    outline: 0
}

.find {
    background-color: #c69f70;
    padding: 10rem 0
}

.find__content {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 65px;
    flex-wrap: wrap;
}

.find__content,
.find__item,
.find__item div {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.find__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.find__item i {
    margin-right: 30px
}

.find__item div {
    font-family: OpensansB;
    font-size: 18px;
    color: #333;
    line-height: 43px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.find__item div a,
.find__item div p {
    line-height: 20px
}

.footer {
    padding: 5rem 0;
    background-color: #31302f
}

.bcg .container,
.find__item div,
.footer__inf,
.footer__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.bcg .container,
.footer__inf {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.find__item div a,
.find__item div p,
.footer__inf p {
    font-family: Opensans;
    font-size: 14px;
    color: #fff
}

.footer__link {
    color: #fff;
    font-size: 16px
}

.footer__link a {
    color: #fff;
    margin: 0 10px
}

.bcg {
    background-color: #31302f
}

.bcg .container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.mainpage__blog {
    height: auto;
    min-height: auto
}

.title--blog {
    padding: 8rem;
    background-color: #31302f;
    border-bottom: 1px solid #464544
}

.content {
    padding: 10rem 0;
    width: 68%
}

.content .content__item:last-child {
    margin: 0
}

.content__width {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 94%;
    margin-top: 50px
}

.content__item {
    margin-bottom: 70px
}

.content__item>video {
    width: auto;
    height: 400px
}
.content__item>div{
    display: flex;
    margin-top: 50px;
}

.content__date,
.content__description>ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.content__date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 124px;
    min-width: 70px;
    border: 1px solid #7f7e7e;
    margin-right: 30px
}

.content__date i {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px
}

.content__date p {
    font-family: OpensansB;
    font-size: 32px;
    color: #fff;
    line-height: 26px
}

.content__date span,
.content__description>a {
    font-family: OpensansB;
    font-size: 16px;
    color: #c5996c
}

.content__description>a {
    font-size: 24px;
    line-height: 18px
}

.content__description>ul {
    list-style-type: none;
    margin: 45px 0;
}

.content__description>ul li {
    font-size: 14px;
    font-family: Opensans;
    color: #777;
    margin-right: 20px
}

.content__description--rectangle,
.content__single>div div {
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    margin: 25px 0
}

.content__description>p {
    font-size: 16px;
    font-family: Opensans;
    color: #fff;
    margin-bottom: 45px
}

.content__description a:last-child {
    height: 32px;
    width: 170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background-color: #1a1918;
    margin-top: 40px;
    font-size: 14px
}

.content__slider button {
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
    height: 56px;
    border: 1px solid #fff;
    background-color: #2c2b29;
    top: auto;
    bottom: 0
}

.content__slider button:first-child {
    left: auto;
    right: 110px
}

.content__slider button:nth-child(3) {
    right: 30px
}

.content__slider ul li {
    background-color: transparent;
    width: 8!important;
    height: 8!important;
    border: 1px solid #fff
}

.content__slider ul {
    bottom: 30px;
    left: -290px
}

.content__slide img {
    min-width: 770px
}

.content__single {
    padding: 15px;
    background-color: #2c2b2a
}

.content__single>div {
    padding: 30px 32px;
    border: 1px solid #c69b6e
}

.content__single>div p:first-child {
    font-family: OpensansI;
    font-size: 24px;
    line-height: 33.6px;
    color: #c69b6e
}

.content__single>div p:last-child {
    font-family: Opensans;
    font-size: 16px;
    color: #fff
}

.content__single--margin {
    margin: 50px 0
}

.content__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px
}

.content__social i,
.content__social li,
.content__social p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.content__social li {
    margin-right: 15px
}

.content__social i,
.content__social p {
    color: #fff;
    height: 24px
}

.content__social i {
    width: 24px;
    background-color: #191918;
    margin-right: 5px;
    font-size: 16px
}

.content__social p {
    font-size: 12px;
    font-family: Opensans;
    padding: 0 10px;
    border: 1px solid #7f7e7e
}

.content__title {
    width: auto
}

.content__title>p:first-child {
    font-family: OpensansSB;
    font-size: 56px;
    float: left;
    line-height: 50px;
    margin-right: 15px
}

.content__title>p {
    font-family: Opensans;
    font-size: 14px;
    color: #fff;
    line-height: 22.4px
}

.content__title ul {
    list-style-type: none;
    padding-left: 25px;
    margin-bottom: 25px
}

.content__title ul li,
.content__title ul li div {
    font-family: Opensans;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.content__title ul li {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px
}

.content__title ul li div {
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #2c2b2a;
    margin-right: 15px
}

.content__title ul li:last-child,
.popular .popular__content:last-child {
    margin-bottom: 0
}

.content__tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 45px
}

.content__tags div {
    font-family: OpensansB;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #1a1918;
    margin: 0 10px 0 0;
    cursor: pointer;
    color: #fff
}

.content__tags--icon {
    position: absolute;
    padding: 0!important;
    background-color: transparent!important;
    top: 10px;
    left: -30px
}

.content__didi {
    padding: 30px;
    background-color: #2c2b2a;
    margin-bottom: 10rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px
}

.content__didi img {
    width: 140px;
    height: 140px;
    margin-right: 30px
}
.content__related{
    display: block !important;
}
.comments{
    display: block !important;
}
.comments>p:first-child,
.content__didi>div p:first-child,
.content__related p:first-child {
    font-size: 24px;
    line-height: 18px;
    font-family: BebasN;
    color: #fff
}

.content__didi>div>div:nth-child(2) {
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    margin: 25px 0
}

.content__didi>div p:nth-child(3) {
    font-size: 14px;
    font-family: Opensans;
    color: #fff;
    margin-bottom: 25px
}

.content__didi>div>div:last-child>a {
    font-size: 12px;
    color: #777;
    font-family: OpensansSB
}

.content__didi>div>div:last-child {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.content__didi>div>div:last-child,
.content__didi>div>div:last-child>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.content__didi>div>div:last-child>div a {
    margin-right: 8px;
    color: #777;
    font-size: 12px
}

.content__related>div:nth-child(2) {
    width: 70px;
    height: 2px;
    background-color: #c69b6e;
    margin: 25px 0
}

.content__related>div:last-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10rem;
}

.content__relatedit {
    padding: 30px;
    border: 1px solid #7f7e7e;
    height: 450px;
    max-width: 370px;
    margin: 0 30px 30px 0
}

.content__relatedit,
.content__relatedit>a,
.content__relatedit>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.content__relatedit,
.content__relatedit>div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.content__relatedit>div img {
    width: 310px;
    margin-bottom: 25px
}

.content__relatedit>div>a {
    font-family: OpensansB;
    color: #c69b6e;
    font-size: 18px
}

.content__relatedit>div>div {
    width: 40px;
    height: 1px;
    background-color: #c69b6e;
    margin: 20px 0
}

.content__relatedit>div>p {
    font-size: 14px;
    font-family: Opensans;
    color: #fff;
    line-height: 19.6px
}

.content__relatedit>a {
    width: 140px;
    height: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-family: OpensansB;
    background-color: #1a1918
}

.comments>div:nth-child(2),
.comments__form>div:nth-child(2) {
    width: 70px;
    height: 2px;
    background-color: #c69b6e;
    margin: 25px 0
}

.comments__comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    border: 1px solid #7f7e7e;
    margin-bottom: 30px
}

.comments__comment>img {
    margin-right: 18px;
    min-width: 55px;
    height: 55px
}

.comments__text>p:first-child {
    font-family: OpensansB;
    font-size: 16px;
    color: #fff
}

.comments__text>p:first-child span {
    font-family: Opensans;
    font-size: 14px;
    color: #777
}

.comments__text>p:nth-child(2) {
    font-family: Opensans;
    font-size: 14px;
    color: #fff;
    margin: 25px 0
}

.comments__text>a {
    width: 70px;
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background-color: #c69b6e;
    font-family: OpensansB;
    font-size: 12px
}

.comments__form {
    margin-top: 10rem
}

.comments__form>p:first-child {
    font-size: 24px;
    line-height: 18px;
    font-family: BebasN;
    color: #fff
}

.comments__form>p:nth-child(3) {
    font-family: OpensansSB;
    color: #fff;
    font-size: 14px;
    margin-bottom: 30px
}

.comments__form>textarea,
.comments__input input {
    border: 1px solid #7f7e7e;
    background-color: transparent;
    color: #fff;
    font-family: Opensans;
    font-size: 14px;
    outline: 0
}

.comments__form>textarea {
    padding: 18px 0 0 18px;
    margin-bottom: 30px;
    width: 100%;
    height: 200px
}

.comments__form>button,
.comments__input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.comments__form>button {
    width: 220px;
    height: 48px;
    color: #fff;
    background-color: #c59a6d;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.comments__input {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px
}

.comments__input input {
    height: 48px;
    padding-left: 18px;
    width: 48%
}

.sidebar {
    width: 23%;
    padding: 10rem 0
}

.sidebar__title p {
    font-family: BebasN;
    font-size: 24px;
    color: #fff
}

.sidebar__title div {
    width: 70px;
    height: 2px;
    background-color: #c69b6e;
    margin: 30px 0
}

.categories__content,
.search,
.search button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.search {
    margin-bottom: 70px
}

.search button,
.search input {
    height: 48px;
    background-color: transparent
}

.search input {
    width: -webkit-calc(100% - 48px);
    width: calc(100% - 48px);
    border: 1px solid #7f7e7e;
    padding-left: 17px;
    border-right: none;
    color: #fff
}

.categories__content,
.search button {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #7f7e7e
}

.search button {
    width: 48px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #7f7e7e;
    font-size: 16px;
    border-left: none
}

.categories {
    margin-bottom: 70px
}

.categories__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px
}

.categories__content a {
    font-family: OpensansB;
    font-size: 14px;
    color: #c5996c;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 95%;
    border-bottom: 1px solid #7f7e7e
}

.categories__content a:last-child {
    margin: 0;
    padding: 0;
    border: 0
}

.popular {
    margin-bottom: 70px
}

.popular__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 30px;
    border: 1px solid #7f7e7e;
    margin-bottom: 15px
}

.popular__content a {
    font-family: OpensansB;
    font-size: 18px;
    color: #c5996c
}

.images__img,
.popular__content,
.popular__content ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.popular__content ul {
    margin-top: 20px
}

.popular__content ul li {
    font-family: Opensans;
    font-size: 14px;
    color: #777;
    list-style-type: none;
    margin-right: 18px
}

.images {
    margin-bottom: 70px
}

.images__img {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.images__img img {
    margin-bottom: 30px
}

.subscribe,
.tags,
.widget {
    margin-bottom: 70px
}

.tags>div:last-child p,
.widget>div:last-child {
    font-family: Opensans;
    font-size: 16px;
    color: #fff;
    padding: 30px 20px;
    line-height: 22.4px;
    background-color: #2c2b2a
}

.tags>div:last-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.tags>div:last-child p {
    font-family: OpensansB;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #1a1918;
    margin: 0 10px 10px 0;
    cursor: pointer
}

.subscribe form {
    padding: 30px;
    border: 1px solid #7f7e7e
}

.subscribe form p {
    font-family: Opensans;
    font-size: 16px;
    color: #fff;
    line-height: 22.4px
}

.subscribe form input {
    height: 48px;
    border: 1px solid #7f7e7e;
    background-color: transparent;
    width: 100%;
    padding-left: 16px;
    margin: 25px 0
}

.subscribe form button {
    width: 166px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-family: OpensansB;
    background-color: #c5996c;
    border: 0
}

.subscribe form button i {
    margin-right: 10px
}



@media(max-width:1170px){
    .container{
        width:95%;
    }
}
@media(max-width:1100px){
    .about__item--2 {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .about__item--4 {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .about__item--6 {
        grid-column-start: 1;
        grid-row-start: 5;
    }
    .about__content {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 430px 140px;
        margin-top: 7rem;
    }
    .about__marker--left p {
        right: 15px;
        left: auto;
    }
    .about__marker p {
        right: 15px;
        left: auto;
    }
    .about__content--all{
        margin-top: 0;
    }
    .works button:first-child {
        left: 40%;
    }
    .works button:nth-child(3) {
        right: 40%;
    }
}
@media(max-width:850px){
    .testimonials__slide p{
        width: 90%;
    }
    .facts__item{
        flex-direction: column;
        align-items: center;
    }
    .facts__item i{
        margin-bottom: 20px;
    }
    .mainpage__navbar{
        flex-direction: row-reverse;
    }
    .mainpage__navbar div{
        display: none;
        position: fixed;
        flex-direction: column;
        height: 100%;
        background-color: #31302f;
        left: 0;
        top: 0;
        bottom: 0;
        width: 200px;
        z-index: 10;
        justify-content: flex-start;
        padding-top: 60px;
    }
    .mainpage__navbar div i{
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 11;
    }
    .mainpage__navbar i{
        display: block;
    }

}
@media(max-width:820px){
    .prices__item {
        width: 49%;
        min-width: 190px;
        margin-bottom: 20px;
        height: 442px;
    }
    .prices__item--hover {
        padding: 20px 0;
        min-width: 190px;
    }
    .prices__content{
        height: auto;
    }
    
}
@media(max-width:700px){
    .footer__inf{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__link {
        margin-top: 20px;
    }
    .footer {
        padding: 3rem 0;
    }
}
@media(max-width:650px){
    html{
        font-size: 6px;
    }
    .mainpage {
        background-color: #c7a077;
        min-height: auto;
    }
    .about__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__item{
        padding: 20px 30px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .about__item>div{
        text-align: center;
    }
    .about__item>p{
        margin: 0;
        margin-bottom: 10px;
    }
    .about__years{
        display: none;
    }
    .about__marker{
        display: none;
    }
    .about__button{
        height: 42px;
    }
    .about__item--year{
        display: block;
    }
    .works button:first-child {
        left: 35%;
    }
    .works button:nth-child(3) {
        right: 35%;
    }
    .facts__item{
        margin-bottom: 20px;
    }
    .facts__content .facts__item:last-child{
        margin-bottom: 0;
    }
    .find__item{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .find__item div{
        text-align: center;
    }
    .contact__form div{
        flex-direction: column;
    }
    .contact__form div input{
        width: 100%;
    }
}
@media(max-width:440px){
    .prices__item {
        width: 100%;
        min-width: 190px;
        margin-bottom: 20px;
        height: 442px;
    }
    .works button:first-child {
        left: 30%;
    }
    .works button:nth-child(3) {
        right: 30%;
    }
    .works__slide--width {
        width: 300px;
    }
    .works__img {
        width: 300px;
    }
}


@media(max-width:1170px){
    
}
@media(max-width:1170px){
    
}
